body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    margin: 0 0 0 0.5em;
}

.cats_names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name_one{
    flex-grow: 1;
    text-align: center;
}

#name_two{
    flex-grow: 1;
    text-align: center;
}

.counter{
    padding-top: 10px;
    padding-bottom: 10px;
   
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#counter-clicks_kitty {
    flex-grow: 1;
    text-align: center;
}

#second_counter-clicks_missy {
    flex-grow: 1;
    text-align: center;
}

.cat-image-placeholder {
    display: flex;
    justify-content: center;

}

.cat-image{
    height: 50%;
    width: 50%;
}

.second_cat-image{
    height: 50%;
    width: 50%;
}
 .cat-image:hover{
     cursor: grab;
 }
 .second_cat-image:hover{
    cursor: grab;
}
