body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    margin: 0 0 0 0.5em;
}

.cat-image-placeholder {
    display: flex;
    justify-content: center;

}
.cat-image{
    height: 50%;
    width: 50%;
}
 .cat-image:hover{
     cursor: grab;
 }

#counter-clicks {
    display:flex;
    justify-content: center;
}
.counter {
    padding-top: 10px;
    padding-bottom: 10px;
}